body{
    background-color: red;  
}

#mainDiv{
    width: 1024px;
    margin: auto;
}

ul {
    border-collapse: none;
    border-top: 100px;
    margin-top: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b3ffd9;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #00ff00;
    color: #000;
    text-decoration: none;
}